<%- include("header") -%>
<header>
    <h1>About</h1>
</header>

<main>
    <section>
        <h2>About Me</h2>
        <p>
            Hello, I'm Nitya, a third-year Computer Science Engineering student at IIT Jodhpur.
            I have created this to-do list application to help you stay organized and manage your tasks effectively.
            With this application, you can keep track of your daily tasks, add new items, and even create separate lists for work-related tasks.
        </p>
    </section>

    <section>
        <h2>About the To-Do List</h2>
        <p>
            The to-do list application is built using Node.js and Express.js, along with HTML, CSS, and EJS as the templating engine.
            It allows you to add tasks, mark them as completed, and organize them into different lists.
            You can create a separate work list to keep track of your work-related tasks, while the main list helps you manage your personal tasks.
        </p>
    </section>

    <section>
        <h2>Contact Information</h2>
        <p>
            If you have any questions or feedback regarding the to-do list application, feel free to reach out to me.
            You can contact me via email at nityas@gmail.com or connect with me on https://www.linkedin.com/in/nitya-anand-shah-5b059.
            I'm open to suggestions and improvements to make the application more useful for you.
        </p>
    </section>
</main>
<%- include("footer") -%>